#feature {
  // left==========
  .feature_inner_left {
    .left_img {
      box-shadow: rgba(77, 77, 77, 0.1) 0px 10px 15px -3px,
        rgba(82, 82, 82, 0.05) 0px 4px 6px -2px;
      margin-bottom: 4rem;
      position: relative;

      .blog_item_date {
        padding: 0.6rem 1.7rem;
        background-color: $primary_color;
        border-radius: 0.4rem;
        text-align: center;
        position: absolute;
        left: 5%;
        bottom: 38%;

        h3,
        p {
          color: $white;
          font-size: 1.8rem;
        }
        p {
          font-size: 1.2rem;
        }
      }

      .blog_item_date:hover {
        background-color: transparent;
        h3,
        p {
          color: $primary_color;
        }
      }

      .links {
        padding: 3.5rem 1.5rem;

        h2 {
          padding: 0;
          font-size: 1.2rem;
        }
        p {
          padding: 0.8rem 0;
          color: $light_grey;
        }
      }
    }
  }
}

// from W3School css --------------------------------------
// pagination---

.pagination {
  display: inline-block;
  margin: 0 auto;
  margin-left: 30%;
}

.pagination a {
  color: #dfdcdcd9;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0.2px solid #dfdcdcd9;
  margin: 0 0.2rem;
  box-shadow: rgba(77, 77, 77, 0.1) 0px 10px 15px -3px,
    rgba(82, 82, 82, 0.05) 0px 4px 6px -2px;
}

.pagination a.active {
  background-color: $primary_color;

  color: white;
  border: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: $primary_color;
}

// +++++++++++++++++++++++++++++++++++

@media (max-width: 600px) {
  #feature {
    .feature_inner_left {
      .left_img {
        .blog_item_date {
          bottom: 55%;
        }
      }
    }
  }
}
