

.chack_title,
.second_section {
  padding: 3rem 6rem;
  button {
    border-radius: 30px;
    width: 170px;
    padding: 0.8rem;
  }

  button:hover {
  background: $dark_grey;
  box-shadow: #fc0303 0px 0px 40px -3px, #dd4141cd 0px 0px 10px 4px;
  color: red;
}
  a:hover {
    background: $dark_grey;
    box-shadow: #fc0303 0px 0px 40px -3px, #dd4141cd 0px 0px 10px 4px;
    color: red;
  }

  form {
    input,
    select {
      width: 30%;
      padding: 0.6rem 1rem;
      margin: 1rem 0rem;
      border-radius: 4px;
    }

    .fullwidth {
      width: 100% !important;
    }
    .link_btn {
      border-radius: 30px;
      padding: 0.7rem 2rem;
      color: $white;
      text-decoration: none;
    }
  }
}

// -----------------

.chack_title {
  h3 {
    width: 100%;
    background-color: $pink;
    margin: 1.5rem 0 2rem;
    padding: 1.1rem;
    font-size: 1rem;
  }

  a {
    font-size: 0.8rem;
    color: $primary_color;
    font-weight: 300;
    text-decoration: underline;
  }
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++

.second_section {
  align-items: flex-start;
  padding-top: 0;
  .form_sec {
    width: 65%;
    input {
      width: 49.5%;
    }
    .country,
    .district {
      border-radius: 20px;
    }

    h3 {
      padding: 2rem 0;
    }
  }

  // -----------------
  .order_box {
    width: 31%;
    background-color: $light_grey;
    padding: 1.5rem 2rem;
    button {
      width: 100%;
      margin: 1.7rem 0;
    }

    h3 {
      width: 100%;
      border-bottom: 1px solid $grey;
      padding-bottom: 1rem;
    }

    ul {
      li {
        width: 100%;
        padding: 0.7rem 0;
        border-bottom: 1px solid #bababa;
        font-weight: 500;
        a {
          color: #8d8b8b;
          font-weight: 100;
          justify-content: space-between;
        }
      }
    }

    .payment_box,
    .paypal_box {
      padding: 1rem 0 0;

      p {
        background-color: #fff;
        padding: 1.5rem;
        margin: 1.5rem 0;
        font-size: 0.8rem;
      }
    }
  }
}


// media query-------

@media (max-width: 1000px) {
  .chack_title {
    form {
      input {
        width: 49.5%;
      }
    }
  }
  .second_section {
    .form_sec {
      width: 100%;
    }

    .order_box {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .chack_title,
  .second_section {
    padding: 3rem 2rem;
  }
}
