
    input:focus, textarea:focus { 
        outline: none !important;
        
    }




    // ---------------------------

#login_box {
  background-color: #ffffff;
  width: 50%;
  margin: 50px auto;
  padding: 3rem 2rem;
  flex-direction: column;
  -webkit-box-shadow:rgba(147, 145, 145, 0.4) 10px 10px 15px 3px,
    rgba(117, 115, 115, 0.4) 10px 4px 6px 2px;
  box-shadow: rgba(147, 145, 145, 0.4) 10px 10px 15px 3px,
    rgba(117, 115, 115, 0.4) 10px 4px 6px 2px;

  h1 {
    padding-bottom: 1.5rem;
  }

  h3{
      padding-bottom: 3rem;
      font-size: .8rem;
      color: $grey;
      font-weight: 500;
  }

label {
    font-size: 0.8rem;
    font-weight: 500;
  }

//   form----------
  form {
    input {
      width: 100%;
      margin: 0.5rem 0 1.5rem;
      padding: 1rem;
    }

 input::placeholder {
font-size: .8em;
color: #ff2020;
opacity: .7;
}


 input:focus { 
        outline: none !important;
        border-color: #da133e;
        box-shadow: 0 0 10px #d0131c;
    }

 // checkbox-----
    .login{
      width: 100%;
    }

.login{
  justify-content: space-between;
}
 
    a {
        font-size: .8rem;
        color: $primary_color;
    }

    
    .footer {
      width: 100%;
      margin-top: 5rem;
      justify-content: space-between;

      h3{padding-bottom: 0;}
      button{ width: 110px;}
    }
  }
}
